<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--插件引入mybatis-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--            方言-->
            <property name="helperDialect" value="mysql"/>
            <!--            如果pageSize为0，不分页-->
            <property name="pageSizeZero" value="true"/>
        </plugin>
    </plugins>

</configuration>
